@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,600");
@import url('https://fonts.googleapis.com/css?family=Hind:300,400');

body {
    font-family: "Montserrat";
}

#container-div {
    display: none;
}

.volume-button {
    width: 30px;
}

.heading-container {
    background-color: #08AEEA;
    background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
    height: 350px;
}

.heading {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 54px;
}

.team-container {
    margin: 40px auto;
}

.fa-menu-icon {
    color: black !important;
}

.image-container {
    display: flex;
    justify-content: center;
    margin: 10px auto;
}

.image-number {
    font-size: 14px;
    margin: 0px auto;
    text-align: center;
}

.image-name {
    font-size: 16px;
    margin: 5px 0px;
    text-align: center;

}

.image-div {
    margin: 30px auto;
}

.map-container {
    width: 100%;
    height: 350px;
}
