@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,600");
@import url('https://fonts.googleapis.com/css?family=Hind:300,400');

body {
    font-family: "Montserrat";
}

#container-div {
    display: none;
}

.volume-button {
    width: 30px;
}

.heading-container {
    background-color: #FAD961;
    background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);
    height: 350px;
}

.fa-menu-icon {
    color: black !important;
}

.heading {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 54px;
}

.events-container {
    margin: 40px auto;
}

.image-container {
    display: flex;
    justify-content: center;
    margin: 10px auto;
}

.image-div {
    margin: 30px auto;
}

.sub-heading {
    text-align: center;
    font-size: 26px;
}

.event-name {
    text-align: center;
    font-size: 18px;
}

.event-div {
    margin: 10px auto;
}

.sub-event-container {
    margin: 30px auto;
}

.other-text {
    font-size: 20px;
    text-align: center;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.modal-full {
    min-width: 100%;
    margin: 0;
}

.modal-full .modal-content {
    min-height: 100vh;
}

a {
    outline: none;
}

li {
    font-size: 18px;
}