@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,600");
@import url('https://fonts.googleapis.com/css?family=Hind:300,400');

body {
    font-family: "Montserrat";
}



#container-div {
    display: none;
}

.volume-button {
    width: 30px;
}

.heading-container {
    background-image: url("../assets/gif/home/cricket-min.gif"), linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    background-blend-mode: overlay;
    height: 350px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.heading {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #d3d3d3;
    font-size: 54px;
}

.faq_section {
    margin: 85px auto;
}

.FaQ_Each {
    padding-bottom: 10px;
}

.box {
    color: #666666;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    font-size: 16px;
    text-transform: none;
    cursor: pointer;
    border: 1px solid #d9d9d9;
}

.draw {
    display: none;
    background: #ffffff;
    padding: 20px;
    border-bottom: 1px solid #d9d9d9;
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    color: #000000;
    padding-left: 30px;
}

#other {
    display: none;
}